package components

import (
"fmt"
)

templ Button(class string, text string, alpineData string) {
<button @click={ fmt.Sprintf(`%s=!%s`, alpineData, alpineData) } class={ class }>{ text }</button>
}
