package components

import (
"spreadsheet/spdb/models"
"fmt"
)

templ WorkspaceContainer(sheet models.Sheet) {
<a class="rounded p-5 bg-gray-100 shadow" href={ templ.URL(fmt.Sprintf("/edit/%d", sheet.ID)) }>
  { sheet.Name }
</a>
/*
<a class="rounded p-5 bg-gray-100" hx-push-url="true" hx-target="#view" hx-get={ fmt.Sprintf("/edit/%d", sheet.ID) }>
  Hello wolrd
</a>
*/
}
