
  .cell-row {
    display: flex;
  }

  .cell {
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    min-width: 100px;
    font-size: 0.875rem;
    /* Small font size */
    flex-grow: 1;
  }

  .cell-header {
    background-color: #f3f4f6;
    font-weight: bold;
  }

  .active {
    background-color: #d1d5db;
  }

  #info-container {
    margin: 1rem;
    overflow-x: auto;
    /* Make the container scrollable horizontally */
  }

  #export-btn {
    margin-bottom: 1rem;
  }

/*.cell-row{*/
/*  display: flex;*/
/*}*/
/**/
/**/
/*.cell{*/
/*  width: 70px;*/
/*  height: 30px;*/
/*  border: 1px solid #555;*/
/*  outline: none;*/
/*  box-sizing: border-box;*/
/*}*/
/**/
/*.cell:focus{*/
/*  border: 1px solid blue;*/
/*}*/
/**/
/*.cell:disabled{*/
/*  background-color: #ddd;*/
/*  color: #000;*/
/*  text-align: center;*/
/*}*/
/**/
/*.cell.active{*/
/*  border: 2px solid blue;*/
/**/
/*}*/
